@import '../font/googlefont.css';
.login_box
{
    max-width: 500px;
    flex: 30%;
    margin: 50px auto;
    border-radius: 10px ;
    /* background: rgb(0, 0, 0); */
    background: rgb(53, 53, 53);
    padding: 50px;
}

.login_box h2
{
    color: rgb(255, 230, 0);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.login_box label
{
    font-style: italic;
    color: white;
}

.login_box .inp_style
{
    padding: 20px;
    border: none;
}

.login_box .btn
{
    width: 100%;
}

/* Scroll Bar Css */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #007bff;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0271e7;
  }


/* admin Dashboard Start */

.navbar-brand
{
    background:#007bff;
}

.navbar-brand{
    font-size: 40px;
    font-family: 'Train One', cursive;
    font-style: italic;
}

.navbar-brand span
{
    color: yellow;
}

.greeting
{
    width: 100%;
    padding: 30px;
    font-style: italic;
    font-size: 20px;
    font-weight: inherit;
    align-items: center;
    background: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.greeting img
{
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.order_info
{
    width: 100%;
    background: whitesmoke;
    margin: 20px 0px 20px 0px;
}

.order_info .col-md-3
{
    width: 100%;
    background:#007bff;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    margin-left: 5%;
}

.order_info .col-md-3 .fa
{
    border-right: 2px dashed white;
    padding: 10px;
    font-size: 30px;
}

.order_info .col-md-3 span
{
    padding-inline-start: 20px;
}

.table_data
{
    background: whitesmoke;
    width: 100%;
    padding:10px;
}


.table_data h2
{
    color: rgb(8, 46, 0);
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.order h2
{
    color: rgb(94, 94, 94);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.order .card
{
    margin: 20px;
    border: none;
}
.order .card h5
{
    height: 40px;
}

.order
{
    margin-left: 80px ;
}

.order .card img
{
    width: 100%;
    height: 150px;
}

@media screen and (max-width: 600px) {
    .order_info .col-md-3
    {
        width: 90%;
    }
    .order
    {
        margin-left: 0px !important;
    }

}